<div class="header">
  <h3 class="text-muted pull-left">Checkers</h3>
  <button type="button" ng-class="{'animated wobble': true}" ng-click="loginWithGithub()" class="pull-right btn btn-info"><i class="fa fa-github" style="margin-right: 5px;"></i>Log in with GitHub</button>
  <div style="clear:both;"></div>
</div>

<div class="checker-board" ng-class="{'animated fadeIn': true}">
  <div class="checker pull-left board-tile" ng-class="{'black': tile.isBlack}" ng-repeat="(key, tile) in tiles"></div>
  <div style="clear:both;"></div>
</div>
<div class="footer" style="margin-top: 20px;">
  <p>♥ from the ClearCare team</p>
</div>
